.favorite__item {
  background: #ECA148;
  padding: 30px 20px 20px 14px;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transform: translate(0, 0);
  transition:.3s;
}
.favorite__item:hover {
  transform: translate(0, -9px);
}
.favorite__item desc{
  margin-top: 20px;
  color: #fff;
  margin-bottom: 20px;
  background: transparent;
}

.favorite__item h6 {
  color: #000;
  margin-bottom: 20px;
  background: transparent;
}

.favorite__img {
  margin-top: 30px;
  background: transparent;
}

.favorite__img img {
  border-radius: 10px;
}

.favorite__keyword {
  padding: 5px 10px;
  color: #fff;
  background: #171f38;
  font-size: 0.8rem;
  margin-right: 10px;
  border-radius: 5px;
}

.favorite__live_url {
  padding: 0 10px 5px 10px;
  width: 100%;
  height: auto;
  position: relative;
  transform: translate(0, 110px);
  line-height: 25px;
  transition: 0.4s ease;
  display: inline-block;
}



.favorite__item:hover .favorite__live_url {
  margin-left: 0;
  display: block;
  transform: translate(0,10px);
}


@media only screen and (max-width: 576px) {
  .favorite__img img {
    width: 100% !important;
  }
}
